/* ========================================================================== */
/* Monoblock */
/* ========================================================================== */

.monoblock {
    display: block;
    font-family: var(--font-mono);
    font-size: var(--font-size-small);
    line-height: 1;
    letter-spacing: 0.02rem;
    text-transform: uppercase;
    color: var(--monoblock-color);
    margin: 0 auto 1.5rem auto;
    max-width: fit-content;
    white-space: nowrap;
    overflow: hidden;
}

.monoblock a {
    transition:
        color var(--transition-timing) var(--transition-timing-function),
        background-color var(--transition-timing) var(--transition-timing-function);
}

.monoblock a:hover {
    color: var(--marker-color);
    background-color: var(--marker-background-color);
}

.monoblock a:active {
    color: var(--marker-color);
    background-color: var(--marker-background-color);
}

/* -------------------------------------------------------------------------- */
/* Monoblock row */

.monoblock__row {
    margin-bottom: 0.5rem;
}
