/* ========================================================================== */
/* Sections */
/* ========================================================================== */

#about {
    margin-top: 8rem;
    margin-bottom: 5rem;
}

#monoblock-about {
    margin-bottom: 5rem;
}

#slogan {
    max-width: fit-content;
    margin: 0 auto 2.5rem auto;
}
