/* ========================================================================== */
/* Sticker */
/* ========================================================================== */

.sticker {
    position: relative;
    max-width: fit-content;
    margin: 5rem auto;
}

#sticker-chickenbomb img {
    transform: rotate3d(1, 1, 1, 7deg);
}

#sticker-chickenbomb .tag {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    transform: rotate3d(1, 1, 1, -7deg);
}
