/* ========================================================================== */
/* Fonts */
/* ========================================================================== */

/* -------------------------------------------------------------------------- */
/* Inter */

@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400 500 600;
    font-display: optional;
    src:
        url("/fonts/Inter.woff2") format("woff2"),
        url("/fonts/Inter.woff") format("woff"),
        url("/fonts/Inter.ttf") format("truetype");
}

/* -------------------------------------------------------------------------- */
/* JetBrains Mono */

@font-face {
    font-family: "JetBrains Mono";
    font-style: normal;
    font-weight: 400;
    font-display: optional;
    src:
        url("/fonts/JetBrainsMono.woff2") format("woff2"),
        url("/fonts/JetBrainsMono.woff") format("woff"),
        url("/fonts/JetBrainsMono.ttf") format("truetype");
}

/* -------------------------------------------------------------------------- */
/* RockSalt */

@font-face {
    font-family: "RockSalt";
    font-style: normal;
    font-weight: 400;
    font-display: optional;
    src:
        url("/fonts/RockSalt.woff2") format("woff2"),
        url("/fonts/RockSalt.woff") format("woff"),
        url("/fonts/RockSalt.ttf") format("truetype");
}
