/* ========================================================================== */
/* Variables */
/* ========================================================================== */

/* -------------------------------------------------------------------------- */
/* Root */

:root {
    --font-primary: "Inter", sans-serif;
    --font-handwritten: "RockSalt", sans-serif;
    --font-mono: "JetBrains Mono", monospace;
    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-semi-bold: 600;
    --font-size-extra-small: 0.75rem;
    --font-size-small: 0.875rem;
    --font-size-regular: 1rem;
    --font-size-medium: 1.25rem;
    --font-size-large: 1.5rem;
    --font-size-extra-large: 2rem;
    --font-line-height-single: 1;
    --font-line-height-extra-small: 1.125;
    --font-line-height-small: 1.25;
    --font-line-height-regular: 1.4;
    --font-line-height-medium: 1.5;
    --font-line-height-large: 1.75;
    --font-line-height-double: 2;
    --font-letter-spacing-small: 0.01rem;
    --font-letter-spacing-medium: 0.02rem;
    --font-letter-spacing-big: 0.03rem;
    --transition-timing: 0.15s;
    --transition-timing-function: ease-in-out;
    --backdrop-filter: blur(24px);
    --color-selection: rgba(145, 217, 255, 1);
    --color-postit: rgba(255, 240, 162, 1);
    --color-marker: rgba(255, 218, 155, 1);
    --color-membrane: rgba(16, 16, 16, 0.8);
    --color-sticker-membrane: rgba(229, 229, 229, 0.5);
    --color-neutral-07: rgba(16, 16, 16, 1);
    --color-neutral-06: rgba(33, 33, 33, 1);
    --color-neutral-05: rgba(51, 51, 51, 1);
    --color-neutral-04: rgba(85, 85, 85, 1);
    --color-neutral-03: rgba(155, 155, 155, 1);
    --color-neutral-02: rgba(238, 238, 238, 1);
    --color-neutral-01: rgba(255, 255, 255, 1);
}

/* -------------------------------------------------------------------------- */
/* Default theme */

.default {
    --theme-color-selection: rgba(145, 217, 255, 1);
    --theme-color-postit: rgba(255, 240, 162, 1);
    --theme-color-marker: rgba(255, 218, 155, 1);
    --theme-color-membrane: rgba(16, 16, 16, 0.8);
    --theme-color-sticker-membrane: rgba(229, 229, 229, 0.5);
    --theme-color-neutral-07: rgba(16, 16, 16, 1);
    --theme-color-neutral-06: rgba(33, 33, 33, 1);
    --theme-color-neutral-05: rgba(51, 51, 51, 1);
    --theme-color-neutral-04: rgba(85, 85, 85, 1);
    --theme-color-neutral-03: rgba(155, 155, 155, 1);
    --theme-color-neutral-02: rgba(238, 238, 238, 1);
    --theme-color-neutral-01: rgba(255, 255, 255, 1);
}
