<div class="sticker" id="sticker-chickenbomb">
    <img src="/images/stickers/chickenbomb_sticker.webp" alt="Chickenbomb sticker." width="580" height="580" />
    <p class="tag">Chicken<br />Bomb</p>
</div>
