---
import ContactsMonoblock from "../monoblocks/Contacts.monoblock.astro";
---

<div class="sticker" id="sticker-contacts">
    <div class="sticker__content">
        <ContactsMonoblock />
    </div>
</div>
