<div class="sticker" id="sticker-contacts">
    <div class="sticker__content" id="sticker-info">
        <p class="sticker__title">Matthias Devers</p>
        <p class="sticker__title">47608 Geldern Germany</p>
        <p class="sticker__emphasis">Development - Design - Illustration</p>
        <p class="sticker__title">MD10011992</p>
    </div>
</div>
