<div class="sticker" id="sticker-introduction">
    <div class="sticker__content">
        <p class="tag">Just to<br />Remind you</p>
        <p>
            <span class="sticker__title">MD10011992</span><span class="sticker__title">ES20111996</span>
        </p>
        <p class="sticker__headline">Allow me to introduce myself. My name is Matthias.</p>
        <p>
            As long as I can remember, I have been driven by the desire to create. From childhood sketches to detailed
            designs, the urge to bring ideas to life has always been a constant.
        </p>
        <p>
            So I embarked on a creative journey, diving headfirst into the realms of design, Illustration and web
            development.
        </p>
    </div>
</div>
