---
import Layout from "../layouts/Layout.astro";
---

<Layout title="404" description="Page not found." mainId="error-404">
    <h1 class="title">Error Code 404</h1>
    <h1 class="title">The requested page was not<br />found on this server</h1>
</Layout>
