---
import Layout from "../layouts/Layout.astro";
import About from "../components/About.astro";
import Career from "../components/Career.astro";
import Sticker from "../components/Sticker.astro";
import Projects from "../components/Projects.astro";
import Contacts from "../components/Contacts.astro";
import Slogan from "../components/Slogan.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="Welcome to Astro." description="This is my Description.">
    <div>
        <About />
        <Career />
        <Sticker />
        <Projects />
        <Contacts />
        <Slogan />
        <Footer />
    </div>
</Layout>
