<section id="about">
    <h1 class="title">About</h1>

    <div class="sticker sticker--about">
        <div class="sticker__membrane">
            <div class="sticker__content">
                <p class="sticker__title">Matthias Devers</p>
                <p class="sticker__title">47608 Geldern Germany</p>
                <p class="sticker__focus">Development - Design - Illustration</p>
                <p class="sticker__title">MD10011992</p>
            </div>
        </div>
    </div>

    <div class="sticker sticker--introduction">
        <div class="sticker__membrane">
            <div class="sticker__content">
                <p class="tag">Just to<br />Remind you</p>
                <p>
                    <span class="sticker__title">MD10011992</span><span class="sticker__title">ES20111996</span>
                </p>
                <p>
                    As long as I can remember, I have been driven by the desire to create. From childhood sketches to
                    detailed designs, the urge to bring ideas to life has always been a constant.
                </p>
                <p>
                    So I embarked on a creative journey, diving headfirst into the realms of design, Illustration and
                    web development.
                </p>
                <p class="sticker__headline">Allow me to introduce myself. My name is Matthias.</p>
            </div>
        </div>
    </div>

    <div class="monotext">
        <p class="monotext__row">Interests --------------------------</p>
        <p class="monotext__row">Drawing - Basketball - Cooking -</p>
        <p class="monotext__row">Running - Computer Science</p>
    </div>
    <div class="monotext">
        <p class="monotext__row">Music ------------------------------</p>
        <p class="monotext__row">Kendrick Lamar --------------- Crown</p>
        <p class="monotext__row">The Who ------------- Eminence front</p>
        <p class="monotext__row">Thundercat --------------- Lava Lamp</p>
        <p class="monotext__row">Eminem -------------------- Infinite</p>
    </div>
    <div class="monotext">
        <p class="monotext__row">Stack & Tools ----------------------</p>
        <p class="monotext__row">GIt - HTML - CSS - Sass - PostCss -</p>
        <p class="monotext__row">Javascript - Typescript - React -</p>
        <p class="monotext__row">Astro - PHP - Laravel - SQL -</p>
        <p class="monotext__row">PostgreSQL - docker - Figma -</p>
        <p class="monotext__row">Supabase - Adobe creative cloud</p>
    </div>
</section>
