<section id="career">
    <h1 class="title">Career</h1>
    <div class="monotext">
        <p class="monotext__row">2022 <---------------------> present</p>
        <p class="monotext__row">Co-Founder, Web Developer, Designer</p>
        <p class="monotext__row">plantanika</p>
    </div>
    <div class="monotext">
        <p class="monotext__row">2017 <------------------------> 2022</p>
        <p class="monotext__row">Web Developer, Designer</p>
        <p class="monotext__row">Adh Devers</p>
    </div>
    <div class="monotext">
        <p class="monotext__row">2014 <------------------------> 2017</p>
        <p class="monotext__row">Design Assistant Apprenticeship</p>
        <p class="monotext__row">Berufskolleg Glockenspitz Krefeld</p>
    </div>
</section>
