<section id="contacts">
    <div class="sticker__membrane">
        <div class="sticker__content">
            <p class="tag">Get in<br /> Touch</p>
            <a href="mailto:hello@matthiasdevers.com" class="monotext">
                <p class="monotext__row">Email ------------------------------&gt;</p>
                <p class="monotext__row">Let's chatter a little bit</p>
                <p class="monotext__row markered">hello@matthiasdevers.com</p>
            </a>
            <a href="https://github.com/Matthias-Devers" target="_blank" rel="noopener noreferrer" class="monotext">
                <p class="monotext__row">GitHub -----------------------------&gt;</p>
                <p class="monotext__row">All my projects at one place</p>
                <p class="monotext__row">/Matthias-Devers</p>
            </a>
            <a href="https://dribbble.com/matthiasdevers" target="_blank" rel="noopener noreferrer" class="monotext">
                <p class="monotext__row">Dribbble --------------------------&gt;</p>
                <p class="monotext__row">My design work & illustrations</p>
                <p class="monotext__row">/matthiasdevers</p>
            </a>
            <div class="monotext">
                <p class="monotext__row">------------------------------------</p>
                <p class="monotext__row">| .... Thank you for visiting .... |</p>
                <p class="monotext__row">------------------------------------</p>
            </div>
        </div>
    </div>
</section>
