<footer class="footer">
    <nav class="footer__navigation">
        <a class="footer__navigation-link" href="#about">About</a>
        <a class="footer__navigation-link" href="#projects">Projects</a>
        <a class="footer__navigation-link" href="">Posts</a>
        <a class="footer__navigation-link" href="">Legal notice</a>
    </nav>
    <p class="footer__copyright">Copyright © 2024 Matthias Devers</p>
</footer>
