---
import ContactsMonoblock from "../monoblocks/Contacts.monoblock.astro";
---

<div class="label" id="label-contacts">
    <div class="label__content">
        <ContactsMonoblock />
    </div>
</div>
