<div class="label" id="label-info">
    <div class="label__content">
        <p class="label__title">Matthias Devers</p>
        <p class="label__title">47608 Geldern Germany</p>
        <p class="label__emphasis">Development - Design - Illustration</p>
        <p class="label__title">MD10011992</p>
    </div>
</div>
