<div id="monoblock-about">
    <div class="monoblock">
        <p class="monoblock__row">Interests --------------------------</p>
        <p class="monoblock__row">Drawing - Basketball - Cooking -</p>
        <p class="monoblock__row">Running - Computer Science</p>
    </div>
    <div class="monoblock">
        <p class="monoblock__row">Music ------------------------------</p>
        <p class="monoblock__row">Kendrick Lamar --------------- Crown</p>
        <p class="monoblock__row">The Who ------------- Eminence front</p>
        <p class="monoblock__row">Thundercat --------------- Lava Lamp</p>
        <p class="monoblock__row">Eminem -------------------- Infinite</p>
    </div>
    <div class="monoblock">
        <p class="monoblock__row">Stack & Tools ----------------------</p>
        <p class="monoblock__row">GIt - HTML - CSS - Sass - PostCss -</p>
        <p class="monoblock__row">Javascript - Typescript - React -</p>
        <p class="monoblock__row">Astro - PHP - Laravel - SQL -</p>
        <p class="monoblock__row">PostgreSQL - docker - Figma -</p>
        <p class="monoblock__row">Supabase - Adobe creative cloud</p>
    </div>
</div>
