<a class="monoblock" href="mailto:hello@matthiasdevers.com">
    <p class="monoblock__row">Email -------------------------------</p>
    <p class="monoblock__row">Let's chatter a little bit</p>
    <p class="monoblock__row markered">hello@matthiasdevers.com</p>
</a>
<a class="monoblock" href="https://github.com/Matthias-Devers" target="_blank" rel="noopener noreferrer">
    <p class="monoblock__row">GitHub ------------------------------</p>
    <p class="monoblock__row">All my projects at one place</p>
    <p class="monoblock__row">/Matthias-Devers</p>
</a>
<a class="monoblock" href="https://dribbble.com/matthiasdevers" target="_blank" rel="noopener noreferrer">
    <p class="monoblock__row">Dribbble ---------------------------</p>
    <p class="monoblock__row">My design work & illustrations</p>
    <p class="monoblock__row">/matthiasdevers</p>
</a>
<div class="monoblock">
    <p class="monoblock__row">------------------------------------</p>
    <p class="monoblock__row">| .... Thank you for visiting .... |</p>
    <p class="monoblock__row">------------------------------------</p>
</div>
