<footer class="footer">
    <nav class="footer__navigation">
        <a href="#about">About</a>
        <a href="#projects">Projects</a>
        <a href="">Legal notice</a>
    </nav>
    <p class="footer__copyright">Copyright © 2024 Matthias Devers</p>
</footer>
